<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão: Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissão: GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permissão: Vibração -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora">

        <!-- Tela de Splash (Inicial) -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Aurora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Telas a rodar, depois da tela splash -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.EsqueceuSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mapa.MapaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sos.SosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contatos.ContatosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.planos.PlanosAssinaturaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.config.ConfigActivity"
            android:exported="false" />
        <activity
            android:name=".ui.config.AccessibilidadeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.historico.HistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.InfoPessoaisActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.solicitacao.SolicitacaoAmizadeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdicionarContatoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DispositivoEmbarcadoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>